@font-face {
  font-family: 'sundance';
  src:  url('../fonts/sundance.eot?wv9uf5');
  src:  url('../fonts/sundance.eot?wv9uf5#iefix') format('embedded-opentype'),
    url('../fonts/sundance.ttf?wv9uf5') format('truetype'),
    url('../fonts/sundance.woff?wv9uf5') format('woff'),
    url('../fonts/sundance.svg?wv9uf5#sundance') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sd-icon-"], [class*=" sd-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sundance' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sd-icon{
    display: inline-block;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.sd-icon-radio-checked::before{
    content:"\e900";
}
.sd-icon-arrow-up::before{
    content:"\e901";
    font-size: .7em;
}
.sd-icon-delete::before{
    content:"\e902";
}
.sd-icon-treenode-show::before{
    content:"\e903";
}
.sd-icon-cross::before{
    content:"\e904";
}
.sd-icon-item-search::before{
    content:"\e905";
}
.sd-icon-treenode-hide::before{
    content:"\e906";
}
.sd-icon-edit::before{
    content:"\e907";
}
.sd-icon-item-add::before{
    content:"\e908";
}
.sd-icon-treenode-folder::before{
    content:"\e909";
}
.sd-icon-raido-unchecked::before{
    content:"\e90a";
}
.sd-icon-setting::before{
    content:"\e90b";
}
.sd-icon-add::before{
    content:"\e90c";
}
.sd-icon-arrow-down::before{
    content:"\e90d";
    font-size: .7em;
}